body {
    background-image: url(https://st2.depositphotos.com/2251265/7071/i/450/depositphotos_70718015-stock-photo-vintage-tools-of-barber-shop.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}