.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;

    .logo img {
        width: 150px;
    }
    & .terms {
        max-width: 250px;
        margin-top: 20px;
        font-weight: 500;
        color: #691a1a;
        font-size: 18px;
    
          p{
        color: rgb(0, 255, 242);
          }
      }
         &  h2 {
        margin-bottom: 30px;
        color: $secundaricolor;
        font-weight: 700;
        }
        &  a {
        margin-top: 10px;
        color: #55aa34;
        font-weight: 600;

        :hover {
            opacity: 0.8;
        }
        .fab {
            font-size: 20px;
        }
    }
 }
 //redes>

.bi-twitter{
    color: aqua;
    & :hover{
        color:$tertiarycolor;
    }
   }
   .bi-facebook{
    color: blue;
    font-size: 16px;
    & :hover{
        color:$tertiarycolor;
    }
   }
   .bi-instagram{
    color: rgb(255, 51, 0);
    & :hover{
        color:$tertiarycolor;
    }
}